<div class="hero">
    <h1 class="title">Bienvenido, Médico</h1>
    <p class="subtitle">Gestione y monitoree los registros de sus pacientes.</p>
  </div>
  <div class="features">
    <div class="feature-card">
      <img src="assets/icons/monitoreo.png" alt="Registros de Pacientes">
      <h2>Registros de Pacientes</h2>
      <p>Consulta y gestiona los datos de salud registrados por tus pacientes.</p>
      <div class="actions">
        <button routerLink="/register-patients">Registro Pacientes</button>
      </div>
    </div>
    <div class="feature-card">
      <img src="assets/icons/alerta.png" alt="Citas Médicas">
      <h2>Citas Médicas</h2>
      <p>Consulta y organiza tus citas médicas.</p>
      <div class="actions">
        <button routerLink="/appointments">Citas</button>
      </div>
    </div>
    <div class="feature-card">
      <img src="assets/icons/mensaje.png" alt="Comunicación">
      <h2>Comunicación</h2>
      <p>Contacta a tus pacientes a través de mensajes o videollamadas.</p>
      <div class="actions">
        <button routerLink="/messaging">Mensajes</button>
      </div>
    </div>
  </div>
  