<mat-toolbar color="primary">

    <button mat-button routerLink="/" class="home-button">
        Inicio
        <mat-icon class="home-icon">home</mat-icon>
    </button>
    <button mat-button routerLink="/register">Monitorización
      <mat-icon>assignment</mat-icon>
    </button>
    <button mat-button routerLink="/messaging">Mensaje
      <mat-icon>message</mat-icon>
    </button>
  
    <!-- Botón de Logout -->
    <button mat-button>
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  

