<div class="medico-container">
    <h1 class="title">Bienvenido, Médico</h1>
    <p class="subtitle">Aquí puedes ver la lista de pacientes y sus parámetros registrados.</p>
  
    <div class="patient-list">
      <h2 class="section-title">Lista de Pacientes</h2>
      <table class="patients-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Último Registro</th>
            <th>Parámetros</th>
          </tr>
        </thead>
        <tbody>
          <!-- dinamica -->
          <tr *ngFor="let paciente of pacientes">
            <td>{{ paciente.nombre }}</td>
            <td>{{ paciente.ultimoRegistro }}</td>
            <td>
              <ul>
                <!--CAMBIAR:Esto varía en funcion del tipo de condicion que se defina para cada paciente-->
                <li>PARAMETROS : de la forma: "Glucosa: {{ paciente.parametros.glucosa }}"</li>
              </ul>
            </td>
            <td>
              <button class="action-button" (click)="verDetalle(paciente.id)">Ver Detalle</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
