<div class="form-container">
    <h2>Registrar Parámetros de Salud</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div *ngFor="let parametro of parametros">
        <label [for]="parametro.name"> {{ parametro.label }}:</label>
        <input
        [type]="parametro.type"
        [id]="parametro.name"
        [name]="parametro.name"
        [ngModel]="''"
        [required]="parametro.required"
      />
      </div>
      <button type="submit" [disabled]="!form.valid">Registrar</button>
    </form>
  </div>
